* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("fondo.png");
    background-size: cover;    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }

h1 {
    font-size: 2.5em;
    font-weight: bold;
}

.contenedor {
    background-color:rgb(168, 192, 192);    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60vh;
    width: 60%;
    box-shadow: 5px 5px 15px;

    margin: 20px 0px;
}

.palabra {
    width: 60%;
    font-size: 1.5em;
}

.input {
    width: 90%;
    height: 40px;
    margin-top: 5px;
    font-size: 1.5em;
    border: none;
    box-shadow: 3px 3px 5px;
    padding-left: 5px;

}
.resultado {
    height: 60px;
    width: 90%;
    margin-top: 10px;
    font-size: 1.5em;
    padding: 3px 0px 0px 4px;
    box-shadow: 2px 2px 20px;
}

.boton {
    background-color: rgb(153, 162, 167);
    margin-top: 15px;
    border: none;
    width: 120px;
    height: 40px;
    font-weight: bold;
    font-size: 1.3em;
    border-radius: 5px;
    box-shadow: 5px 5px 10px;
    cursor: pointer;
    transform: transition;
    transition: 0.3s;
        
}

.boton:hover {
    transform: scale(1.1);
    background-color: rgb(202, 208, 211);
    color: grey;
    
}